
  <div>
    <table border='1' width="80%">
	<tr><td> 
	Wizard 1: {{params.pageid}}<br>
	</td><tr>
	
	<tr><td> 
	Step 1:<br>
	<div class="slide-animate" ng-include="page1"></div>
	</td><tr>
	
	<tr><td> 
	Step 2:<br>
	<div class="slide-animate" ng-include="page2"></div>
	</td><tr>
	
	<tr><td> 
	Step 3:<br>
	<div class="slide-animate" ng-include="page3"></div>
	</td><tr>

	<tr><td> 
	Step 4:<br>
	<div class="slide-animate" ng-include="page4"></div>
	</td><tr>

	<tr><td> 
	Step 5:<br>
	<div class="slide-animate" ng-include="page5"></div>
	</td><tr>
	
	</table>
  </div>